.layout {
    width : 68%;
    margin : 0 auto;  
}

.float-fix {
    content : "";
    display: block;
    clear : both;
}


@media screen and (max-width : 980px) {

    .main {
        padding : 0;
    }

    .navbar ul {
        margin : 0;
    }

    .layout {
        width : 98%;
        /* margin-left: 2.5%; */
    }

    .topmenu-mid {
        width : 97%;
    }

    /* .mypage-logo {
        height:70%;
        float : right;
        margin-top:11px;
        margin-right : 50px
    } */

    .section-main {
        margin-right : 30px;
    }

    .mypage {
        margin-right : 0px;
    }
}


@media screen and (max-width : 768px) {
    .layout {
        width : 99%;
        /* margin-left: 2.5%; */
    }

    .section-main {
        margin-right : 40px;
    }

    .main {
        width : 100%;
    }

    .mypage {
        margin-right : 55px !important;
    }

}