.layout {
    width : 73%;
    margin : 0 auto;  
}

.float-fix {
    content : "";
    display: block;
    clear : both;
}

@media screen and (max-width : 980px) {

    .navbar ul {
        margin : 0;
    }

    .layout {
        width : 98%;
        margin-left: 2.5%;
    }
}


@media screen and (max-width : 768px) {
    .layout {
        width : 98%;
        margin-left: 2.5%;
    }
}